:root {
    --animation-steps: 19;
}

:root {
    --bg-color: hsl(49 37% 94%);
    --typewriterSpeed: 6s;
    --typewriterCharacters: 24;
  }

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    background-color: slategray;
    display: grid;
    place-items: center;
}

.welcome-text {
    font-family: "Source Code Pro", monospace;
    color: snow;
    width: max-content;
    overflow: hidden;
    position: relative;
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
}

.welcome-text::before,
.welcome-text::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.welcome-text::before {
    width: 100%;
    background-color: slategray;

    animation: typewrite 6s steps(var(--animation-steps)) 2s forwards;
}


.welcome-text::after {
    width: 0.125em;
    background: black;
    animation:
        typewrite 6s steps(var(--animation-steps)) 2s forwards,
        blink 550ms steps(var(--animation-steps)) infinite;
  }

@keyframes typewrite {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
      background: transparent;
    }
  }
